body {
  background-color: rgb(255, 252, 252);
}

#titulo {
  text-align: center;
}

#conteinerNav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


#navegacion {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}



.imgCarrizal {
  width: 300px;
  height: 100px;
  justify-content: center;
}

.itemProductos {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 1rem;

}

.itemProductosIndivuales {
  background-color: rgb(250, 193, 193);
  width: 210px;
  height: 500px;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
  justify-content: space-evenly;
}

.imgProducto {
  width: 100%;
}

.itemLinkIndivuales {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.imgProdIndividual {
  width: 400px;
  height: 500px;
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .input {
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
}