<div class="container">
    <form id="chatForm">
        <input type="text" id="message" placeholder="escribe tu mensaje" required>
        <button type="submit">enviar</button>
    </form>
    <ul id="chatLog"></ul>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="./js/index.js"></script>